.App {
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
}

.addReminder {
  background-color: #006cac;
  color: white;
  border-radius: 3px;
  font-weight: 700;
  height: 2em;
  /* display: block; */
}

.removeReminder {
  background-color: #36b37e;
  color: white;
  border-radius: 3px;
  font-weight: 700;
  /* height: 2em; */
  /* display: block; */
}

 
