.App {
  text-align: center;
}

.cloudIcon {
  font-size: 250%;
  color: #36b37e;
}

.task {
  font-weight: bold;
}

.check {
  color: #777f88;
}

.todo {
  display: block;
  float: left;
}

.completed {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
}

 .container {
  width: 50%;
  margin: auto;
}

.reminderButton {
  background-color: #006cac;
  color: white;
  font-family: "lato", sans-serif;
  border-radius: 3px;
  font-weight: 700;
}

.addReminder {
  background-color: #36b37e;
  color: white;
  font-family: "lato", sans-serif;
  border-radius: 3px;
  font-weight: 700;
  height: 2em;
}

.input {
  border: 1px solid #000000;
  width: 25%;
}

.change {
  height: 15px;
  font-family: "lato", sans-serif;
}

 
