.App {
  text-align: center;
}

.cloudIcon {
  font-size: 250%;
  color: #36b37e;
}

.task {
  font-weight: bold;
  /* font-family: "lato", sans-serif; */
}

.check {
  color: #777f88;
}

.todo {
  display: inline-block;
}

.completed {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
}

.removeReminder {
  background-color: #006cac;
  color: white;
  font-family: "lato", sans-serif;
  border-radius: 3px;
  font-weight: 700;
}

.addReminder {
  background-color: #36b37e;
  color: white;
  font-family: "lato", sans-serif;
  border-radius: 3px;
  font-weight: 700;
  height: 2em;
  /* display: block; */
}

/* #3b434a    */

 
